[submodule "opendht"]
	path = opendht
	url = https://github.com/savoirfairelinux/opendht.git
[submodule "p2p-tunnler"]
	path = p2p-tunnler
	url = git@github.com:IdanDor/p2p-tunnler.git
[submodule "opendht-rs"]
	path = opendht-rs
	url = git@github.com:IdanDor/opendht.git
